:root {
  --alabaster: #f0ece2;
  --bone: #dfd3c3;
  --pale-Taupe: #c7b198;
  --slate-gray: #596e79;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bone) !important;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: var(--slate-gray);
}

/* ------- HEADER/NAVBAR STYLING  ------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--slate-gray);
  padding: 3rem 3rem 3rem 0;
  border-bottom: 10px solid var(--pale-Taupe);
}

.logo {
  display: flex;
  justify-content: flex-end;
  font-size: 4rem;

  padding: 20px 20px 20px 150px;
  background-color: var(--pale-Taupe);
  color: var(--slate-gray);
  border-radius: 7px;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#nav-links ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav-links ul li {
  margin-left: 20px;
  font-size: 2rem;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#nav-links ul li a {
  text-decoration: none;
  color: var(--pale-Taupe);
  border-bottom: 5px solid var(--pale-Taupe);
}

#nav-links ul li a:hover {
  color: orangered;
  border-bottom: 5px solid orangered;
}

/* ------- SUBTITLE STYLING  ------- */

.subtitle {
  background-image: url("../images/landscape.jpg");
  background-size: cover;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 10px solid var(--pale-Taupe);
}

.subtitle h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  color: var(--slate-gray);
}

/* ------- ABOUT ME STYLING  ------- */

#about-me {
  display: flex;
  margin: 2rem 3rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 7px solid var(--slate-gray);
  padding: 5px;
  height: 450px;
  align-self: center;
}

.about-me-container {
  height: fit-content;
  width: fit-content;
  position: relative;
  left: 2%;
}

.about-me-header {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  margin-bottom: 30px;
  text-decoration: underline var(--slate-gray);
}

.about-me-content {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
  margin: 0;
}

/* ------- PROJECTS STYLING  ------- */

#projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 30px;
}

#projects div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1450px;
}

#projects h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  margin-bottom: 30px;
  border-bottom: 5px solid var(--slate-gray);
}

#projects div .projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--slate-gray);
  max-width: 1450px;
  border: 10px solid var(--pale-Taupe);
  border-radius: 10px;
}

#projects div .projects-container .card {
  margin: 30px;
  border: 7px solid var(--pale-Taupe);
}

#projects div .projects-container .card-body {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects div .projects-container .card-body h5 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.75rem;
}

#projects div .projects-container .card-body p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;
}

#projects div .projects-container .card-body a {
  text-decoration: none;
  border: 3px solid var(--slate-gray);
  border-radius: 10px;
  padding: 10px;
  margin: 5px;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}

#projects div .projects-container .card-body a:hover {
  background-color: var(--alabaster);
}

/* ------- CONTACT STYLING  ------- */

footer {
  background-color: var(--slate-gray);
  border-top: 10px solid var(--pale-Taupe);
  padding: 1rem 0;
  margin-top: 3rem;
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#contact h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 1rem;
  border-bottom: 7px solid var(--pale-Taupe);
  padding-bottom: 0.5rem;
}

#contact ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem 0 0 0;
}

#contact ul li {
  margin: 0 2rem;
}

#contact ul li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  color: var(--pale-Taupe);
  padding-bottom: 0.2rem;
}

#contact ul li a:hover {
  color: orangered;
  border-bottom: 7px solid orangered;
}

/* Responsive web page optimised for various screens and devices, including small mobile devices with a viewport width of 576 pixels. */

@media (max-width: 1050px) {
  header {
    flex-direction: column;
  }

  .logo {
    font-size: 3rem;
    padding: 0.75rem;
  }

  #nav-links ul {
    flex-direction: column;
    align-items: center;
  }

  #nav-links ul li {
    margin: 0.5rem 0;
    font-size: 2rem;
  }

  .subtitle {
    height: 8rem;
  }

  .subtitle .img-container {
    height: auto;
    object-fit: contain;
  }

  .subtitle h2 {
    font-size: 3rem;
  }

  #about-me {
    flex-direction: column;
    margin: 1rem 1.75rem 1rem 0.5rem;
  }

  .about-me-header {
    font-size: 2.5rem;
  }

  .about-me-content {
    font-size: 1.5rem;
  }

  #projects {
    margin: 1rem;
  }

  #projects h2 {
    align-self: center;
    justify-content: center;
    font-size: 2.5rem;
  }

  .projects-container {
    padding: 0.5rem;
  }

  .card {
    margin: 0.5rem;
    width: 100%;
  }

  .card-body h5 {
    font-size: 1.25rem;
  }

  .card-body p {
    font-size: 1rem;
  }

  #contact h2 {
    font-size: 3rem;
  }

  #contact ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  #contact ul li a {
    font-size: 2rem;
  }
}
